@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Edu+QLD+Beginner:wght@400;500;700&family=Roboto:wght@400;700&family=Splash&display=swap");

/* Variables */

:root {
  --clr-white: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.3rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Global styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(./images/bg-img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

/* Header */

header {
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

header h1 {
  margin: 20px;
  font-size: 3.5rem;
  font-family: "Splash", cursive;
}

/* Main */

main {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
}

/* Form */

#new-post-form,
.reply-box {
  max-width: 600px;
  padding: 1rem 0.75rem;
  border-radius: var(--radius);
  margin-bottom: 2rem;
  background-color: ghostwhite;
}

#form-title {
  margin: 1rem 0;
}

#form-img {
  width: 8rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

#form-title,
#form-text,
.reply-input,
.gif-input {
  width: 100%;
  padding: 0.3rem 1rem;
  border: 1px solid burlywood;
  border-radius: var(--radius);
  font-family: inherit;
  outline: none;
  word-wrap: normal;
}

.textarea-wrapper {
  position: relative;
}

#text-counter {
  position: absolute;
  right: 0.3rem;
  bottom: 10%;
  font-size: 0.7rem;
  opacity: 55%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.btn,
.reply-btn,
.gif-box button {
  display: block;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  background-color: burlywood;
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition);
}

.btn:hover,
.reply-btn:hover {
  color: #fff;
  background-color: #654321;
}

@media screen and (min-width: 992px) {
  main {
    justify-content: center;
  }

  #new-post-form,
  .reply-box {
    width: 600px;
  }
}

/* Posts */

.post-box,
.post-replies {
  max-width: 600px;
  padding: 1rem;
  margin-bottom: 0.3rem;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
  position: relative;
  background-color: ghostwhite;
}

.post-title {
  text-transform: uppercase;
  font-size: 1rem;
  color: brown;
  margin-bottom: 0.75rem;
  font-family: "Edu QLD Beginner", cursive;
}

.post-text {
  line-height: 1.5rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  font-family: "Edu QLD Beginner", cursive;
}

.post-image {
  width: 9rem;
  display: block;
  margin: 0 auto;
}

.date-post {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  font-size: 0.8rem;
  opacity: 65%;
}

/* Reactions - Emojis */

.reactions-wrapper {
  display: flex;
  align-items: center;
}

.emoji-container {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  padding: 0.3rem 0.4rem;
  background-color: #dbf3fa;
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.emoji-container:hover {
  border: 1px solid #006b88;
}

.img-emoji {
  width: 19.5px;
  margin-right: 0.25rem;
}

.emoji-count {
  font-size: 0.8rem;
}

.post-box button.btn {
  padding: 0.4rem 0.8rem;
  margin-left: auto;
  transition: var(--transition);
}

.post-box button.btn:hover {
  color: #fff;
  background-color: #654321;
}

/*  Submit Reply box */

.reply-box {
  max-width: 600px;
  display: flex;
  align-items: center;
  height: 4rem;
}

.reply-input {
  width: 80%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.reply-btn {
  padding: 0.4rem 0.8rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* Replies */

.post-replies {
  max-width: 480px;
  margin-bottom: 2rem;
  margin-left: auto;
  overflow-wrap: break-word;
}

.reply-text {
  font-size: 1.1rem;
  background-color: #f5fcff;
  border-bottom: 1px solid #dbf3fa;
  font-family: "Edu QLD Beginner", cursive;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: black;
}

.reply-text:nth-child(even) {
  background-color: #dbf3fa;
  border-bottom: 1px solid #006b88;
}

/* Gifs */

.gif-box {
  width: 400px;
  height: 12rem;
  background-color: aliceblue;
  border-radius: 1rem;
  padding: 1rem 0.75rem;
  top: 9rem;
  left: -0.2rem;
  overflow-y: scroll;
  position: sticky;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: sticky;
  margin-bottom: 1rem;
}

.gif-input {
  width: 100%;
  margin-right: 0.75rem;
}

.gif-btn-container {
  display: flex;
  align-items: center;
}

.gif-box button {
  padding: 0.45rem 0.5rem;
  margin-right: 0.75rem;
  font-size: 0.7rem;
}

.image-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  place-items: center;
}

.image-box img {
  width: 8rem;
}
